<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.app.mapper.AppLicensesMapper">
    
    <resultMap type="AppLicenses" id="AppLicensesResult">
        <result property="id"    column="id"    />
        <result property="licenseId"    column="license_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="password"    column="password"    />
        <result property="limitStart"    column="limit_start"    />
        <result property="limitEnd"    column="limit_end"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectSn"    column="project_sn"    />
        <result property="projectAddress"    column="project_address"    />
        <result property="projectUsername"    column="project_username"    />
        <result property="projectMobile"    column="project_mobile"    />
        <result property="md5"    column="md5"    />

    </resultMap>

    <resultMap id="AppLicensesAppDevicesStatusResult" type="AppLicenses" extends="AppLicensesResult">
        <collection property="devicesStatuses" notNullColumn="sub_id" javaType="java.util.List" resultMap="AppDevicesStatusResult" />
    </resultMap>

    <resultMap type="DevicesStatus" id="AppDevicesStatusResult">

        <result property="deviceId"    column="sub_device_id"    />
        <result property="used"    column="sub_used"    />
        <result property="enabled"    column="sub_enabled"    />
    </resultMap>

    <sql id="selectAppLicensesVo">
        select a.id, a.license_id, a.file_name,a.password, a.limit_start, a.limit_end, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.project_name,a.project_address,a.project_sn, a.project_username, a.project_mobile,
               b.id as sub_id, b.device_id as sub_device_id, b.used as sub_used, b.enabled as sub_enabled
        from app_licenses a
                 left join app_devices_status b on b.license_id = a.id
    </sql>

    <select id="selectAppLicensesList" parameterType="AppLicenses" resultMap="AppLicensesResult">
        select
        ANY_VALUE(a.id) as id,
        ANY_VALUE(a.license_id) as license_id,
        ANY_VALUE(a.file_name) as file_name,
        ANY_VALUE(a.password) as password,
        ANY_VALUE(a.limit_start) as limit_start,
        ANY_VALUE(a.limit_end) as limit_end,
        ANY_VALUE(a.create_by) as create_by,
        ANY_VALUE(a.create_time) as create_time,
        ANY_VALUE(a.update_by) as update_by,
        ANY_VALUE(a.update_time) as update_time,
        ANY_VALUE(a.remark) as remark,
        ANY_VALUE(a.project_name) as project_name,
        ANY_VALUE(a.project_address) as project_address,
        ANY_VALUE(a.project_sn) as project_sn,
        ANY_VALUE(a.project_username) as project_username,
        ANY_VALUE(a.project_mobile) as project_mobile,
        ANY_VALUE(b.id) as sub_id,
        ANY_VALUE(b.device_id) as sub_device_id,
        ANY_VALUE(b.used) as sub_used,
        ANY_VALUE(b.enabled) as sub_enabled
        from app_licenses a
        left join app_devices_status b on b.license_id = a.id
        <where>  
            <if test="licenseId != null  and licenseId != ''"> and a.license_id = #{licenseId}</if>
            <if test="deviceId != null  and deviceId != ''"> and b.device_id = #{deviceId}</if>
            <if test="limitStart != null "> and a.limit_start = #{limitStart}</if>
            <if test="limitEnd != null "> and a.limit_end = #{limitEnd}</if>
            <if test="projectName != null  and projectName != ''"> and a.project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectSn != null  and projectSn != ''"> and a.project_sn like concat('%', #{projectSn}, '%')</if>
            <if test="projectUsername != null  and projectUsername != ''"> and a.project_username like concat('%', #{projectUsername}, '%')</if>
            <if test="projectMobile != null  and projectMobile != ''"> and a.project_mobile = #{projectMobile}</if>
        </where>
        GROUP BY b.license_id
        order by id desc
    </select>
    
    <select id="selectAppLicensesById" parameterType="Long" resultMap="AppLicensesAppDevicesStatusResult">
        select a.id, a.license_id, a.file_name,a.password, a.limit_start, a.limit_end, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.project_name,a.project_address,a.project_sn, a.project_username, a.project_mobile,
 b.id as sub_id, b.device_id as sub_device_id, b.used as sub_used, b.enabled as sub_enabled
        from app_licenses a
        left join app_devices_status b on b.license_id = a.id
        where a.id = #{id}
    </select>
    <select id="getAppLicensesByLicenseId" parameterType="String" resultMap="AppLicensesAppDevicesStatusResult">
        <include refid="selectAppLicensesVo"/>
        where a.license_id = #{license_id}
    </select>

    <select id="getAppLicensesByLicenseMd5" parameterType="String" resultMap="AppLicensesResult">
        select *
        from app_licenses
        where md5 = #{md5}
    </select>

    <select id="selectAppLicensesListByDeviceIds" parameterType="String" resultMap="AppLicensesAppDevicesStatusResult">
        select a.id, a.license_id, a.file_name,a.password, a.limit_start, a.limit_end, a.create_by, a.create_time, a.update_by, a.update_time, a.remark, a.project_name,a.project_address,a.project_sn, a.project_username, a.project_mobile,
        b.id as sub_id, b.device_id as sub_device_id, b.used as sub_used, b.enabled as sub_enabled
        from   app_licenses  a
        left join app_devices_status b on b.license_id = a.id
        where b.device_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
        order by a.id desc
    </select>

        
    <insert id="insertAppLicenses" parameterType="AppLicenses" useGeneratedKeys="true" keyProperty="id">
        insert into app_licenses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="licenseId != null">license_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="password != null">password,</if>
            <if test="limitStart != null">limit_start,</if>
            <if test="limitEnd != null">limit_end,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="projectName != null">project_name,</if>
            <if test="projectSn != null">project_sn,</if>
            <if test="projectAddress != null">project_address,</if>
            <if test="projectUsername != null">project_username,</if>
            <if test="projectMobile != null">project_mobile,</if>
            <if test="md5 != null">md5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="licenseId != null">#{licenseId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="password != null">#{password},</if>
            <if test="limitStart != null">#{limitStart},</if>
            <if test="limitEnd != null">#{limitEnd},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="projectSn != null">#{projectSn},</if>
            <if test="projectAddress != null">#{projectAddress},</if>

            <if test="projectUsername != null">#{projectUsername},</if>
            <if test="projectMobile != null">#{projectMobile},</if>
            <if test="md5 != null">#{md5},</if>
         </trim>
    </insert>

    <update id="updateAppLicenses" parameterType="AppLicenses">
        update app_licenses
        <trim prefix="SET" suffixOverrides=",">
            <if test="licenseId != null">license_id = #{licenseId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="limitStart != null">limit_start = #{limitStart},</if>
            <if test="limitEnd != null">limit_end = #{limitEnd},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="projectSn != null">project_sn = #{projectSn},</if>
            <if test="projectAddress != null">project_address = #{projectAddress},</if>
            <if test="projectUsername != null">project_username = #{projectUsername},</if>
            <if test="projectMobile != null">project_mobile = #{projectMobile},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppLicensesById" parameterType="Long">
        delete from app_licenses where id = #{id}
    </delete>

    <delete id="deleteAppLicensesByIds" parameterType="String">
        delete from app_licenses where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteAppDevicesStatusByIds" parameterType="String">
        delete from app_devices_status where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAppDevicesStatusById" parameterType="Long">
        delete from app_devices_status where id = #{id}
    </delete>

    <delete id="deleteAppDevicesStatusByLicenseId" parameterType="Long">
        delete from app_devices_status where license_id = #{id}
    </delete>

    <insert id="batchAppDevicesStatus">
        insert into app_devices_status( id,license_id, device_id, used, enabled) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.licenseId}, #{item.deviceId}, #{item.used}, #{item.enabled})
        </foreach>
    </insert>

    <select id="selectAppLicensesByLicenseId" parameterType="String" resultMap="AppLicensesResult">
        <include refid="selectAppLicensesVo"/>
        where a.license_id = #{licenseId} limit 1
    </select>
</mapper>