<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.app.mapper.AppProductMapper">
    
    <resultMap type="AppProduct" id="AppProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productType"    column="product_type"    />
        <result property="productAlias"    column="product_alias"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="productCode"    column="product_code"    />
        <result property="productPrice"    column="product_price"    />
        <result property="productCreateTime"    column="product_create_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleteBy"    column="delete_by"    />
        <result property="deleteTime"    column="delete_time"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="remark"    column="remark"    />
        <association property="supplier"    column="supplierId" javaType="AppSupplier" resultMap="supplierResult" />

    </resultMap>

    <resultMap type="Product" id="AppProductResultSimple">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productCode"    column="product_code"    />
    </resultMap>

    <resultMap id="supplierResult" type="AppSupplier">
        <id     property="supplierId"    column="supplier_id"     />
        <result property="supplierName"  column="supplier_name"   />
    </resultMap>

    <sql id="selectAppProductVo">
        select p.product_id, p.product_name,p.product_alias, p.product_type, p.supplier_id, p.product_code, p.product_price, p.product_create_time, p.create_by, p.create_time, p.update_by, p.update_time, p.remark,
               s.supplier_id,s.supplier_name
        from app_product p
            left join app_supplier s on p.supplier_id = s.supplier_id

    </sql>

    <select id="selectAppProductList" parameterType="AppProduct" resultMap="AppProductResult">
        <include refid="selectAppProductVo"/>
        <where>
            p.is_deleted=0
            <if test="productName != null  and productName != ''"> and p.product_name like concat('%', #{productName}, '%')</if>
            <if test="productType != null  and productType != ''"> and p.product_type = #{productType}</if>
            <if test="supplierId != null "> and p.supplier_id = #{supplierId}</if>
            <if test="productCode != null  and productCode != ''"> and p.product_code = #{productCode}</if>
            <if test="productAlias != null  and productAlias != ''"> and p.product_alias = #{productAlias}</if>
            <if test="productPrice != null "> and p.product_price = #{productPrice}</if>
            <if test="productCreateTime != null "> and p.product_create_time = #{productCreateTime}</if>
        </where>
        order by p.product_id desc
    </select>

    <select id="getAppProductList"  resultMap="AppProductResultSimple">
        select  product_id,  product_name,product_code
        from app_product
        <where>
             is_deleted=0
        </where>
        order by  product_id desc
    </select>

    <select id="selectAppProductAll" resultMap="AppProductResult">
        <include refid="selectAppProductVo"/>
        <where>
            is_deleted=0
        </where>
        order by  product_id desc
    </select>


    <select id="selectAppProductCount" resultType="Integer">
        select count(1) from app_product where is_deleted=0
    </select>

    <select id="selectAppProductByProductId" parameterType="Long" resultMap="AppProductResult">
        <include refid="selectAppProductVo"/>
        where p.product_id = #{productId}
    </select>

    <select id="selectAppProductByProductCode" parameterType="String" resultMap="AppProductResult">
        <include refid="selectAppProductVo"/>
        where p.product_code = #{productCode}
    </select>
        
    <insert id="insertAppProduct" parameterType="AppProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into app_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="productType != null">product_type,</if>
            <if test="productAlias != null">product_alias,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="productCode != null">product_code,</if>
            <if test="productPrice != null">product_price,</if>
            <if test="productCreateTime != null">product_create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="productType != null">#{productType},</if>
            <if test="productAlias != null">product_alias,</if>

            <if test="supplierId != null">#{supplierId},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="productPrice != null">#{productPrice},</if>
            <if test="productCreateTime != null">#{productCreateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAppProduct" parameterType="AppProduct">
        update app_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productAlias != null">product_alias = #{productAlias},</if>
            <if test="productPrice != null">product_price = #{productPrice},</if>
            <if test="productCreateTime != null">product_create_time = #{productCreateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteAppProductByProductId" parameterType="Long">
        delete from app_product where product_id = #{productId}
    </delete>

    <delete id="deleteAppProductByProductIds" parameterType="String">
        delete from app_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

    <delete id="logicDeleteById" parameterType="Long">
        update  app_product set is_deleted=1 where product_id = #{productId}
    </delete>

    <delete id="logicDeleteBatch" parameterType="String">
        update  app_product set is_deleted=1 where product_id in
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

</mapper>