<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.app.mapper.AppPrivateMapper">
    
    <resultMap type="AppPrivate" id="AppPrivateResult">
        <result property="privateId"    column="private_id"    />
        <result property="publicKey"    column="public_key"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="privateKey"    column="private_key"    />
        <result property="privateType"    column="private_type"    />
        <result property="validDate"    column="valid_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="supplier"    column="supplierId" javaType="AppSupplier" resultMap="supplierResult" />

    </resultMap>
    <resultMap id="supplierResult" type="AppSupplier">
        <id     property="supplierId"    column="supplier_id"     />
        <result property="supplierName"  column="supplier_name"   />
    </resultMap>
    <sql id="selectAppPrivateVo">
        select p.private_id, p.supplier_id,p.public_key, p.private_key, p.private_type, p.valid_date,
               s.supplier_id,s.supplier_name
        from app_private as p
        left join app_supplier s on p.supplier_id = s.supplier_id
    </sql>

    <select id="selectAppPrivateList" parameterType="AppPrivate" resultMap="AppPrivateResult">
        <include refid="selectAppPrivateVo"/>
        <where>  
            <if test="supplierId != null  and supplierId != ''"> and p.supplier_id = #{supplierId}</if>

        </where>
        order by p.private_id desc
    </select>
    
    <select id="selectAppPrivateByPrivateId" parameterType="Long" resultMap="AppPrivateResult">
        <include refid="selectAppPrivateVo"/>
        where p.private_id = #{privateId}
    </select>
        
    <insert id="insertAppPrivate" parameterType="AppPrivate" useGeneratedKeys="true" keyProperty="privateId">
        insert into app_private
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">supplier_id,</if>
            <if test="publicKey != null">public_key,</if>
            <if test="privateKey != null">private_key,</if>
            <if test="privateType != null">private_type,</if>
            <if test="validDate != null">valid_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">#{supplierId},</if>
            <if test="publicKey != null">#{publicKey},</if>
            <if test="privateKey != null">#{privateKey},</if>
            <if test="privateType != null">#{privateType},</if>
            <if test="validDate != null">#{validDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAppPrivate" parameterType="AppPrivate">
        update app_private
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="publicKey != null">public_key = #{publicKey},</if>
            <if test="privateKey != null">private_key = #{privateKey},</if>
            <if test="privateType != null">private_type = #{privateType},</if>
            <if test="validDate != null">valid_date = #{validDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where private_id = #{privateId}
    </update>

    <delete id="deleteAppPrivateByPrivateId" parameterType="Long">
        delete from app_private where private_id = #{privateId}
    </delete>

    <delete id="deleteAppPrivateByPrivateIds" parameterType="String">
        delete from app_private where private_id in 
        <foreach item="privateId" collection="array" open="(" separator="," close=")">
            #{privateId}
        </foreach>
    </delete>
</mapper>